@-webkit-keyframes tron-disk {
	0% {
		-webkit-transform: translateX(0) translateY(0);
	}
	25% {
		-webkit-transform: translateX(0) translateY(122px);
	}
	50% {
		-webkit-transform: translateX(64px) translateY(122px);
	}
	75% {
		-webkit-transform: translateX(64px) translateY(0);
	}
	100% {
		-webkit-transform: translateX(0) translateY(0);
	}
}

@-webkit-keyframes clock-hands {
	0% {
		-webkit-transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(-360deg);
	}
}

@-webkit-keyframes tick-head {
	0% {
		height: 0;
	}
	50% {
		height: 20px;
	}
	100% {
		height: 20px;
	}
}

@-webkit-keyframes tick-tail {
	0% {
		height: 0;
	}
	50% {
		height: 0;
	}
	100% {
		height: 60px;
	}
}
