/* ====================================================
    LESS IMPORTS
==================================================== */

@import "libs/helpers.less";
@import "libs/normalize.less";
@import "animations.less";
@import "fonts.less";



/* ====================================================
    LESS VARIABLES
==================================================== */
@c-darkgrey: #2F2F2F;
@c-blue: #3688ce;
@c-yellow: #FFB95E;
@c-earth: #E4E2D9;

@ff-sans: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
@ff-p22: "P22", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
@ff-serif: Baskerville, "utopia-std", "Hoefler Text", Georgia, Times, serif;
@ff-mono: Monaco, Menlo, Consolas, "Courier New", monospace;

@ff-primary: @ff-sans;

@c-bg: #FFF;
@c-copy: #363636;
@c-copy-light: #fff;

/* ====================================================
    BASE STYLES

==================================================== */

* {
    /* remove this if supporting ie7 */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    /* for ie6 and 7 */
    *behavior: url(/assets/css/vendor/boxsizing.htc);

    /* some defaults */
    // background-repeat: no-repeat;
    // vertical-align: middle;
}

::-moz-selection{ background:#333; color:#F8F8F8; text-shadow:none; }
::selection { background:#333; color:#F8F8F8; text-shadow:none; }

html, body { -web-font-smoothing: antialiased; }
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100%;
    font-family: @ff-primary;
    font-weight: 400;
    background-color: @c-bg;
    color: @c-copy;
    .font-size(1.4);
    line-height: 1.3;
}

::-webkit-input-placeholder {}
:-moz-placeholder {}

[type=search] {
    /* resets webkit styling on search inputs */
    -webkit-appearance: none;
}
/* Style the webkit validation message for forms */
::-webkit-validation-bubble-message {
padding: 40px;
}

a {
    .transition(0.2s all ease);
}
a:link {}
a:visited {}
a:hover {}
a:active {}
a:focus {}

input:required {}
input:optional {}
input:valid {}
input:invalid {}
input:default {}
input:focus {}

input:enabled {}
input:disabled {}
input:checked {}
input:indeterminate {} /* un-selected radio buttons :) */

/* ====================================================
    MODULES STYLES

==================================================== */
.main-nav {
    float: right;
    margin-top: 0.8em;
}
.main-nav-link {
    .font-size(1em);
    font-weight: bold;
    font-family: @ff-p22;
    color: @c-copy;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    margin: 0 0 0 2em;
    padding: 0;

    &:hover {
        border-bottom: 2px solid @c-copy;
    }

    &.log-in {
        color: @c-blue;
        margin-left: 4em;
        &:hover {
            border-bottom-color: @c-blue;
        }
    }
}
.secondary-nav {
    float: right;
    margin-top: 0.1em;
}
.secondary-nav-link {
    .font-size(1.1);
    font-weight: 300;
    font-family: @ff-p22;
    color: @c-copy-light;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    margin: 0 0 0 2em;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);

    &:hover {
        border-bottom: 2px solid @c-copy-light;
    }
}
.section {
    padding-top: 5em;
    padding-bottom: 5em;
    position: relative;
    .inner {
        .padd;
    }

    a {
        color: @c-blue;
        text-decoration: none;
    }

    &:not(:last-child):after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: -18px;
        margin: auto;
        border-top: 18px solid #f8f8f8;
        border-right: 24px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 24px solid transparent;
    }

    &.section-dark {
        background-color: @c-darkgrey;
        color: @c-copy-light;
        &:after {
            border-top-color: @c-darkgrey;
        }
    }

    &.section-earth {
        background-color: @c-earth;
        &:after {
            border-top-color: @c-earth;
        }
    }
}
.section-title {
    margin: 0 auto;
    // max-width: 520px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    .font-size(4.2);
    font-weight: 600;
    font-family: @ff-p22;
    > small {
        .font-size(1.6);
        margin: 0.1em 0;
    }

    &:after {
        content: "";
        display: block;
        width: 60px;
        height: 6px;
        .font-size(8);
        line-height: 1;
        margin: 0.2em auto 0.8em;
        background-color: @c-yellow;
    }

    &.section-title--hero {
        // font-size: 6em;
        .font-size(8);
        line-height: 1.1;
        margin-top: -0.6em;
        &:after {
            margin-top: 0.4em;
            width: 200px;
        }
    }
}
.section-copy {
    margin: 1em auto;
    max-width: 420px;
    .font-size(2.4);
    font-weight: 600;
}
.arrow {
    display: block;
    width: 19px;
    height: 30px;
    margin: auto;
    padding: 3em 0;
    background: transparent url(../img/arrow.png) no-repeat center center scroll;
}
.hr {
    border-bottom: none;
    border-color: #909090;
}
.copy-legal {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #222;
    font-weight: 200;
    color: #707070;
    line-height: 1.6;
    a {
        text-decoration: none;
        color: #707070;
        font-weight: 400;
        border-bottom: 1px solid #444;
        &:hover {
            color: #ddd;
            border-bottom: 1px solid transparent;
            // text-decoration: none;
        }
    }
}
.contact-links {
    float: right;
}
.grids {
    max-width: 800px;
    margin: auto;
}
.g {
    float: left;
    display: inline-block;
    vertical-align: top;

    &.g-1 { width: 100%; }
    &.g-1-3 { width: 33%; }
    &.g-1-2 { width: 50%; }
}
.twitter-feed {
    position: relative;
    .font-size(1.8);
    font-weight: 600;
    overflow:auto;
    a {
        &:hover {
            text-decoration: underline;
        }
    }
    .g { padding: 0 2%; }
    .g-1 {
        text-align: center;
    }
    .btn {
        clear: both;
        display: inline-block;
        margin: 3em auto 1em;
    }
    &:after {
        opacity: 0;
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        width: 18px;
        height: 18px;
        border-top: 4px solid @c-copy;
        border-right: 4px solid transparent;
        border-bottom: 4px solid @c-copy;
        border-left: 4px solid transparent;
        .border-radius(50%);
        .transition(0.6s ease all 0.2s);
        .animation(0.6s clock-hands 0s ease-in-out infinite forwards alternate);
    }
    &.loading {
        &:after {
            opacity: 1;
        }
    }
}
.tweets {
    .transition(0.8s ease all 0.6s);
    opacity: 1;

    &.hide {
        opacity: 0;
    }
}
.icon-twitter-feed {
    .font-size(5);
    color: darken(@c-earth, 8%);
    display: block;
    text-align: center;
    margin: -0.4em auto 1em;
}

.btn {
    text-transform: uppercase;
    border: 0;
    background-color: @c-yellow;
    padding: 1em 2em;
    display: inline-block;
    margin: auto;
    text-align: center;
    color: @c-copy !important;
    font-weight: 700;
    .font-size(1.8);
    .border-radius(4px);

    &:hover {
        background-color: @c-blue;
        color: @c-copy-light !important;
        text-decoration: none !important;
    }
}

/* ====================================================
    LAYOUT STYLES

==================================================== */

.wrapper {
}
.header {
    border-top: 8px solid @c-blue;
    overflow: auto;
    .inner {
        .padd;
        padding-top: 2.6em;
        padding-bottom: 2.6em;
    }
}
.section-welcome {
    background: #eee url(../img/bg.welcome.jpg) no-repeat center top;
    padding-bottom: 4em;
}
.footer {
    background-color: @c-darkgrey;
    overflow: auto;
    padding-bottom: 6em;
    .logo {
        width: 127px;
        height: 39px;
        background-image: url(../img/logo_alt.png);
        margin: 0;
    }
    .inner {
        .padd;
        padding-top: 4em;
        padding-bottom: 4em;
    }
    .copy-legal {
        float: left;
        margin-right: 2em;
        .font-size(1.2);
    }
    .icon {
        .font-size(1.8);
        position: relative;
        top: 0.1em;
    }
}
.animations {
    text-align: center;
    margin: 5em auto 2em;
    .animation {
        display: none;
        width: 180px;
        height: 240px;
        margin: auto;
        border: 8px solid @c-blue;
        .border-radius(4px);
    }
    .cssanimations & {
        .no-animations {
            display: none;
        }
        .animation {
            display: block;
        }
    }
}
.animation {
    position: relative;
}
.animation-1 {
    .a-path {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 6px solid #fff;
        .border-radius(4px);
        width: 70px;
        height: 130px;
    }
    .a-disk {
        position: absolute;
        border: 6px solid #fff;
        .border-radius(50%);
        width: 28px;
        height: 28px;
        background-color: @c-darkgrey;
        top: -16px;
        left: -16px;
    }
    &:hover {
        .a-disk-1 { .animation(5s tron-disk 0s linear infinite forwards reverse); }
        .a-disk-2 { .animation(6s tron-disk 0.1s linear infinite forwards); }
        .a-disk-3 { .animation(7s tron-disk 0.2s linear infinite forwards reverse); }
        .a-disk-4 { .animation(8s tron-disk 0.7s linear infinite forwards); }
        .a-disk-5 { .animation(9s tron-disk 0.2s linear infinite forwards); }
        .a-disk-6 { .animation(10s tron-disk 0s linear infinite forwards reverse); }
    }
}
.animation-2 {
    .a-clock {
        position: absolute;
        top:0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 120px;
        height: 120px;
        border: 6px solid #fff;
        .border-radius(50%);
    }
    .h-hand,
    .m-hand,
    .s-hand {
        position: absolute;
        background: #fff;
        width: 6px;
        top: 52px;
        left: 52px;
        -webkit-transform-origin: top center;
    }
    .h-hand {
        height: 30px;
        .transform(rotate(135deg));
    }
    .m-hand {
        height: 36px;
        .transform(rotate(225deg));
    }
    .s-hand {
        height: 40px;
        width: 2px;
        .transform(rotate(0deg));
    }
    &:hover {
        .s-hand { .animation(1s clock-hands 0s linear infinite forwards reverse); }
        .m-hand { .animation(14s clock-hands 0s linear infinite forwards reverse); }
        .h-hand { .animation(40s clock-hands 0s linear infinite forwards reverse); }
    }
}
.animation-3 {
    .a-tick {
        width: 56px;
        height: 56px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        border: 6px solid #fff;
    }
    .tick-head,
    .tick-tail {
        position: absolute;
    }
    .tick-head {
        width: 6px;
        background: #fff;
        height: 20px;
        top: 10px;
        left: 4px;
        -webkit-transform-origin: top center;
        .transform(rotate(315deg));
    }
    .tick-tail {
        width: 6px;
        background: #fff;
        height: 60px;
        top: 26px;
        left: 16px;
        -webkit-transform-origin: top center;
        .transform(rotate(225deg));
    }
    &:hover {
        .tick-head { .animation(2s tick-head 0s linear infinite forwards); }
        .tick-tail { .animation(2s tick-tail 0s linear infinite forwards); }
    }
}

.animations-copy {
    color: @c-blue;
    .font-size(1.6);
}
/* ====================================================
    MIXINS AND EXTENSIONS

==================================================== */
.padd {
    padding: 0 4%;
    max-width: 1100px;
    margin: auto;
}
.logo {
    display: block;
    width: 203px;
    height: 62px;
    background: transparent url(../img/logo.png) no-repeat top left;
    background-size: 100%;
    margin-top: -8px;
    padding-top: 2.6em;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

/* ====================================================
    STATES STYLES

==================================================== */



/* ==|== Media Queries ======================================================
    PLACEHOLDER Media Queries for Responsive Design.
    Modify as content requires.

    Notes:
    MOBILE FIRST - use min-width (lowest first) and style upwards
    MOBILE RESPONSIVE - use max-width (highest first) and style downwards

    Never set breakpoints for devices, only when the design requires it.
========================================================================== */




/* ==|== print styles =======================================================
    Print styles.
    Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */

@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* h5bp.com/t */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}
