* {}
a {color:#EEE;text-decoration:underline;border:none;}
a:hover {text-decoration:none;}
a img {border:none;}

p {line-height:1.4em;}

body {
	background: transparent url("/assets/img/bg_tile.jpg") repeat 0px 0px fixed;
	font-family:Georgia, Times New Roman, Helvetica, Arial, sans-serif;
	color:#c6aa92;
	font-size:16px;
}

#wrapper {width:500px;margin:120px auto 100px;text-align:center;}
#message #wrapper {width:600px;}
#logo {margin:0px auto;}

#home p {margin:30px 0px 22px;}
#message p {margin:20px 0px 20px;}

#birthdays {color:#dccbbb;}
#birthdays p {margin:30px 0px 30px;}

#box-top {background:transparent url('/assets/img/box_middle_tile.gif') repeat-y 2px 10px scroll;}
#box-top img {position:relative;z-index:10;margin:0px 0px -150px;}
#box-top p {position:relative;z-index:20;}
#box-bottom {height:55px;background:transparent url('/assets/img/box_btm.png') no-repeat 0px 100% scroll;}
